.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    background: #fff;
    width: 300px;
    height: max-content;
    margin-bottom: 25px;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 200px;
  }