footer{
  background-color: #0E1133;
  color: white;
  padding: 50px 0px 20px 0px;
}

.footer-item-1 img{
width: 114px;
}
.footer-item-1{
  text-align: left;
  margin-top: 30px;
}

.footer-icon i{
  margin-top: 20px;
  margin-right: 20px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  }
  
  .fa-facebook-f{
   background-color: #285DA1;
   padding: 8px 13px;
  }
  .fa-twitter{
    background-color: #03A9F4;
    padding: 8px 10px;
  }
  .fa-pinterest-p{
    background-color: #df1540;
    padding: 8px 12px;
  }
  .fa-youtube{
    background-color: #FF0202;
    padding: 8px 10px;
  }

  /* footer-item-2 */

  .footer-item-2 ul li{
    list-style: none;
    text-align: start;
    padding-left: 50px;
    line-height: 30px;
    color: #A19D8C;
  }

  .footer-item-4 input{
   padding: 15px;
  }

  .footer-item-4 button{
    padding: 15px;
    background: #2b4eff;
    border: 0;
    color: white;
    border: 2px solid #2b4eff;
  }
 
  .copyright{
    margin-top: 50px;
    border-top: 1px solid;
    color: rgb(150, 149, 149);
  }